.footer {
    padding-top: 208px;
    padding-bottom: 25px;
    background: url("../../img/footer_img.png") bottom right, radial-gradient(#f2f2f2, #f3f3f3);
    background-repeat: no-repeat;
    background-size: 50%;
}

.footer__container {
    padding-left: 100px;
}

.footer__content {}

.footer__list {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 52px;
}

.footer__item {}

.footer__copyright {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: #8D8D8D;
}